<div class="container">
  <div class="row">
    <h1 class="text-center">Mercado de Capitales</h1>
    <div class="col-12 text-center">
      <button class="mx-5 my-5" (click)="buyAc()" mat-raised-button color="primary">Comprar</button>
      <button (click)="sellAc()" mat-raised-button color="primary">Vender</button>
    </div>

    <div class="col-12 text-center" *ngIf="buy">
      <form [formGroup]="formBuy">
        <div class="col-12">
          <h3>COMPRA</h3>
          <mat-form-field appearance="standard">
            <mat-label>Accion</mat-label>
            <input matInput formControlName="accion">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="standard">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="precio">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="standard">
            <mat-label>Titulos</mat-label>
            <input matInput formControlName="titulos">
          </mat-form-field>
        </div>
        <div class="col-12 mt-3">
          <button (click)="submitBuy()" mat-raised-button color="primary">Guardar</button>
        </div>
      </form>
    </div>
    <div class="col-12 text-center" *ngIf="sell">
      <form [formGroup]="formSell">
        <div class="col-12">
          <h3>VENTA</h3>
          <mat-form-field appearance="standard">
            <mat-label>Accion</mat-label>
            <input matInput formControlName="accion">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="standard">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="precio">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="standard">
            <mat-label>Titulos</mat-label>
            <input matInput formControlName="titulos">
          </mat-form-field>
        </div>
        <div class="col-12 mt-3">
          <button (click)="submitSell()" mat-raised-button color="primary">Guardar</button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <h3 class="text-center">COMPRA</h3>
      <table style="width: 100%;" mat-table [dataSource]="dataSourceBuy" class="mat-elevation-z8">
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Accion </th>
          <td mat-cell *matCellDef="let element"> {{element.accion}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="titulos">
          <th mat-header-cell *matHeaderCellDef> Titulos </th>
          <td mat-cell *matCellDef="let element"> {{element.titulos}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col-6">
      <h3 class="text-center">VENTA</h3>
      <table style="width: 100%;" mat-table [dataSource]="dataSourceSell" class="mat-elevation-z8">
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Accion </th>
          <td mat-cell *matCellDef="let element"> {{element.accion}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="titulos">
          <th mat-header-cell *matHeaderCellDef> Titulos </th>
          <td mat-cell *matCellDef="let element"> {{element.titulos}} </td>
        </ng-container>


        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <h3 *ngIf="error" style="color: red;" class="text-center my-3">NO PUEDES VENDER YA QUE NO HAS COMPRADO</h3>
      <h3 *ngIf="error1" style="color: red;" class="text-center my-3">TIENES QUE COMPRAR ANTES DE VENDER</h3>
    </div>

    <div class="text-center my-5">
      <h1>Mercado de derivados <br> Calculo de Forward</h1>
      <form [formGroup]="formForward">
        <div class="row">
          <div class="col-4">
            <mat-form-field appearance="standard">
              <mat-label>Monto</mat-label>
              <input matInput formControlName="monto">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="standard">
              <mat-label>Plazo</mat-label>
              <input matInput formControlName="plazo">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="standard">
              <mat-label>Spot</mat-label>
              <input matInput formControlName="spot">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="standard">
              <mat-label>Precio Adelantado</mat-label>
              <input matInput formControlName="precioAdelantado">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="standard">
              <mat-label>Valor Nominal</mat-label>
              <input matInput formControlName="valorNominal">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="standard">
              <mat-label>Porcentaje</mat-label>
              <input matInput formControlName="porcentaje">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="standard">
              <mat-label>Tipo de cambio 1</mat-label>
              <input matInput formControlName="tc1">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="standard">
              <mat-label>Tipo de cambio 2</mat-label>
              <input matInput formControlName="tc2">
            </mat-form-field>
          </div>
          <div class="col-12 mt-3">
            <button (click)="submitForward()" mat-raised-button color="primary">Capturar</button>
          </div>
        </div>
      </form>
      <div class="col-12">
        <table style="width: 100%;" mat-table [dataSource]="dataSourceForward" class="mat-elevation-z8">
          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> Monto </th>
            <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
          </ng-container>

          <ng-container matColumnDef="plazo">
            <th mat-header-cell *matHeaderCellDef> Plazo(dias) </th>
            <td mat-cell *matCellDef="let element"> {{element.plazo}} </td>
          </ng-container>

          <ng-container matColumnDef="spot">
            <th mat-header-cell *matHeaderCellDef> Spot </th>
            <td mat-cell *matCellDef="let element"> {{element.spot}} </td>
          </ng-container>
  
          <ng-container matColumnDef="precioAdelantado">
            <th mat-header-cell *matHeaderCellDef> Precio Adelantado </th>
            <td mat-cell *matCellDef="let element"> {{element.precioAdelantado}} </td>
          </ng-container>
  
          <ng-container matColumnDef="valorNominal">
            <th mat-header-cell *matHeaderCellDef> Valor Nominal </th>
            <td mat-cell *matCellDef="let element"> {{element.valorNominal}} </td>
          </ng-container>

          <ng-container matColumnDef="porcentaje">
            <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
            <td mat-cell *matCellDef="let element"> {{element.porcentaje}} </td>
          </ng-container>

          <ng-container matColumnDef="tc1">
            <th mat-header-cell *matHeaderCellDef> Tipo cambio 1 </th>
            <td mat-cell *matCellDef="let element"> {{element.tc1}} </td>
          </ng-container>
          
          <ng-container matColumnDef="tc2">
            <th mat-header-cell *matHeaderCellDef> Tipo cambio 2 </th>
            <td mat-cell *matCellDef="let element"> {{element.tc2}} </td>
          </ng-container>
          
          
          <ng-container matColumnDef="total1">
            <th mat-header-cell *matHeaderCellDef> Total Tipo cambio {{tc1}} </th>
            <td mat-cell *matCellDef="let element"> {{total1}} </td>
          </ng-container>
          
          <ng-container matColumnDef="total2">
            <th mat-header-cell *matHeaderCellDef> Total Tipo cambio {{tc2}} </th>
            <td mat-cell *matCellDef="let element"> {{total2}} </td>
          </ng-container>
          
          

          <tr mat-header-row *matHeaderRowDef="displayedColumnsForward"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsForward;"></tr>
        </table>
  
      </div>
    </div>
  </div>
</div>